* {
    font-family: 'Roboto', sans-serif;
}


/* images header */

.img-links {
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.links {
    vertical-align: middle;
}

img.apps-icon {
    width: 25px;
    filter: invert(0.4);
    vertical-align: middle;
}

img.profile-icon {
    width: 33px;
    border-radius: 50%;
    vertical-align: middle;
}


/* common header content */

ul.header-wrap {
    float: right;
    margin: 8px;
}

.header-content li {
    display: inline;
    padding: 7px;
    font-size: 13px;
}

.header-content div {
    display: inline-block;
}


/* central part */

.central {
    /* vertical-align: middle; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 150px;
    text-align: center;
    vertical-align: middle;
}


/* google main icon */

.icon {
    padding-bottom: 25px;
}

.google-icon>img {
    width: 280px;
}


/* main search border */

.main-search-border {
    border: black 0.5px solid;
    width: 480px;
    border-radius: 40px;
    height: 40px;
    border-color: gainsboro;
    display: inline-block;
    text-align: left;
}

.main-search-border:hover {
    box-shadow: 0 1px 3px 1px gainsboro;
}

.main-search-border .input {
    vertical-align: middle;
    padding-bottom: 9px;
}


/* search icon */

.search-begin {
    display: inline-block;
    padding: 12px;
    padding-right: 5px;
}

.search-icon {
    width: 15px;
    filter: brightness(1.7);
}


/* main input itself */

.input {
    display: inline-block;
    vertical-align: middle;
}

#main-input:focus {
    outline: none;
}

#main-input {
    border: none;
}